body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #908c23;
  border-style: none;
  color: #fdffff;
}

.navbar-brand {
  color: #fdffff;
}